/*
 * ArtisanChurch.com
 * Less Color Variables
 */

@gray:          #ADADAD;
@red:           #8C0406;
@burgundy:      #550601;
@warmTan:       #CBC4AA;
@lightTan:      #FEF99E;
@lightGold:     #E4D35D;
@mediumBlue:    #658C89;

@mediumGray:    #575348;
@darkGray:      #414141;

@primary:       @red;
@primaryAlt:    @burgundy;
@accentLight:   @lightGold;
@accentDark:    @mediumBlue;
