/* ==========================================================================
   Media Queries for Responsive Design.
   Theses override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (max-width: 767px) {

    // Styles for custom drop-down menu on narrow viewports

    .menu-button {
        display: block;
        width: 76px;
        height: 2em;
        padding: 0.3125em 0.5em 0.375em;
        border-radius: 4px;
        border-width: 0;
        margin: 0;

        position: absolute;
        top: 12px;
        right: 0;

        background: @primaryAlt;
        color: lighten(@warmTan, 40%);
        font-size: 1em;
        font-weight: normal;
        text-align: center;

        cursor: pointer;
        transition: 0.25s all;

        &:hover,
        &:focus {
            background: @primary;
            color: #FFF;
        }
    }
    .header-nav,
    .footer-nav {
        max-height: 0;
        padding: 0 0.75em;
        margin: 0 -10px;

        position: relative;
        clear: both;
        overflow: hidden;

        background: @primaryAlt;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);

        font-size: 1em;
        line-height: 1;

        -webkit-transition: all 0.3s ease-out;
           -moz-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .footer-nav {
        max-height: none;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
    // .nav-primary > li {
    //     padding-right: 3em;
    // }
    .header-nav ul,
    .footer-nav ul {
        width: 50%;
        margin: 0.75em 0;
        float: left;
    }
    .header-nav li {

    }
    .header-nav a,
    .footer-nav a {
        padding: 0.75em 1em;
        background: transparent;
        color: lighten(@warmTan, 40%);

        &:hover,
        &:focus {
            background: @primary;
            color: #FFF;
            transition: 0.25s all;
        }
    }

    .nav-secondary a {
        padding: unit(12 / 15, em) unit(24 / 15, em);
        color: lighten(@warmTan, 25%);
        font-size: 0.9375em;
        line-height: unit(16 / 15);
    }

    //.menu-button:hover + .header-nav,
    //.menu-button:active + .header-nav,
    .header-nav.is-active {
        max-height: 20em;
        margin: 0.5em -10px 1em;
    }

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

    // Header

    .logo {
        width: 300px;
        margin: 1.5em 15px 1.5em 0;
        float: left;
    }

    nav {

    }

    .menu-button {
        .visuallyhidden;
    }

    .header-nav {
        margin-top: 2.625em;
    }

    .header-nav > .nav-primary {
        float: right;
        position: relative;
        right: -0.5em;
        font-size: 1.125em;
        line-height: 1;

        > li {
            display: inline-block;
            margin-left: -0.25em;
        }
        > li > a:hover,
        > li > a:focus {
            background: fade(@warmTan, 20%);
            color: @primaryAlt;
            text-decoration: none;
        }
        > li.current > a {
            border-bottom: 2px solid fade(@warmTan, 50%);
            color: @primaryAlt;
        }
    }

    .header-nav > .nav-secondary {
        width: auto;
        border: none;
        margin: 0;
        position: absolute;
        top: 5px;
        right: 0;
        text-align: left;

        > li {
            display: inline-block;
            width: auto;
            margin-left: 1em;
            font-size: 0.875em;
        }

        > li > a {
            padding: 0;
            margin: 0;

            &:link,
            &:visited {
                color: @mediumGray;
            }
            &:hover,
            &:active {
                color: @navy;
            }
        }

        > li.current > a {
            color: @navy;
            text-decoration: underline;
        }
    }


    // Logo overhang

    .main,
    body > footer {
        padding-left: 71px;
    }

    .home-kickers,
    body > footer {
        border-top: none;

        &:before {
            content: '';
            display: block;
            border-top: 1px solid @gray;
            margin: 0 15px 15px;
        }
    }


    // Homepage

    .home-kickers {
        margin-right: -(@grid_gutter-width / 2);
        margin-left: -(@grid_gutter-width / 2);
        overflow: hidden;
    }
    .home-kicker {
        .grid_column(4);
        border-top-width: 0;
        margin-bottom: 0;

        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid @gray;
        }
    }
    .kicker-bg {
        height: 126px;
        padding: 11px;
        margin-bottom: 15px;
    }
    .home-kicker .kicker-head { // extra-specific to override original `.home-services h2`
        font-size: 1.0625em;
        line-height: unit(26 / 17);
    }
    .home-mission p {
        line-height: unit(26 / 15); // default p font-size is 15px
    }
    .home-map {
        padding: 0;
        border-width: 0;
        background: @gray;

        &:after {
            content: none;
        }
    }
    .home-services  h3 {
        margin-top: 8px;
        font-size: 0.8125em; // 13px
        line-height: unit(22 / 13);
    }

    .features {
        clear: both;
    }

    .feature-primary {
        padding: 15px;
        .clearfix();
        margin-bottom: 15px;

        background: @navy;
        color: #FFF;

        img {
            border: 1px solid @gray;
        }

        .feature-slug {
            color: @gray;
        }
        &-title {
            &:link,
            &:visited {
                color: lighten(@warmTan, 20%);
            }

            &:hover,
            &:focus {
                color: @warmTan;
                text-decoration: none;
            }
        }
        p {
            color: lighten(@gray, 25%);
        }
        .read-more {
            color: @warmTan;
        }
    }

    .features-secondary {
        .clearfix();
        margin: 0 -(@grid_gutter-width / 2);
    }
    .feature-secondary {
        .grid_column(4);
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;

        &:before {
            content: '';
            display: block;
            border-top: 1px solid @gray;
            margin-bottom: 15px;
        }

        img {
            width: auto;
            max-width: 100%;
            margin-left: 0;
            float: none;
        }

        header {
            min-height: 0;
        }

        &-copy {
            padding-right: 4px;
        }
    }


    // Normal page

    .main.inside {
        // margin-top: 1.5em;
    }
    .sidebar {
        .grid_column(4);
        .grid_pull(8);
    }
    .nav-inside a {
        padding: 0.75em 1em;
        font-size: 1.25;
        text-align: left;
    }
    .content {
        .grid_column(8);
        .grid_push(4);
    }


    // Footer

    body > footer {
        padding-top: 0;
        margin: 30px -(@grid_gutter-width / 2) 11px;

        > .vcard {
            .grid_column(4);
        }
        .fn.org {
            line-height: unit(22 / 16);
        }
        .adr,
        .email {
            line-height: unit(22 / 15);
        }
        > .footer-nav {
            .grid_column(4);
        }
        .nav-primary {
            .grid_column(6);
        }
        .nav-primary > li {
            line-height: unit(22 / 16);
        }
        .nav-secondary {
            .grid_column(6);
            border: none;
        }
        .nav-secondary > li {
            float: none;
            line-height: unit(22 / 16);
        }
        .nav-secondary a {
            text-align: left;
        }
        a {
            padding: 0;
            margin: 0;
        }
        > .social {
            .grid_column(4);
        }
    }
}

@media only screen and (min-width: 800px) {
    .header-nav > .nav-primary {
        font-size: 1.125em;
    }
}

@media only screen and (min-width: 960px) {
    .header-nav {
        margin-top: 2.5em;
    }
    .header-nav > .nav-primary {
        font-size: 1.25em;
    }
    .header-nav > .nav-secondary > li {
        margin-left: 1.5em;
        font-size: 1em;
    }

    .kicker-bg {
        height: 142px;
    }
    .home-kicker .kicker-head {
        font-size: 1.25em;
        line-height: unit(30 / 20);
    }
    .home-mission p {
        font-size: 1.25em;
        line-height: unit(30 / 20);
    }
    .home-services h3 {
        margin: 10px 11px 0;
        font-size: 1em;
        line-height: unit(24 / 16);
    }

    .feature-primary {
        padding: 0;
        margin-right: -15px;
        margin-left: -15px;
        background: transparent;
        overflow: hidden;

        &-img {
            .grid_column(8);
            border-right: 0;
            margin-bottom: 0;

            &-bg {
                padding: 15px 1px 515px 15px;
                margin-bottom: -500px;
                background: @navy;
            }
        }

        &-copy {
            .grid_column(4);
            border-left: 0;
            font-size: 1.125em;

            &-bg {
                padding: 15px 15px 515px;
                margin-bottom: -500px;
                background: @navy;
            }
        }
    }

    .feature-secondary {
        font-size: 1.125em;
    }

    .sidebar {
        .grid_column(@columns: 3, @suffix: 1);
    }
    .nav-inside a {
        padding: 0.75em 1.5em;
    }

    .enews-subscribe legend {
        font-size: 0.875em;
    }
    .enews-subscribe label {
        font-size: 0.8125em;
    }
    .social li {
        margin-right: 2em;
    }
}

@media only screen and (min-width: 1024px) {
    .logo {
        width: 400px;
    }
    .header-nav {
        margin-top: 3.125em;
    }
    .header-nav > .nav-primary {
        font-size: 1.375em;
    }

    // Logo overhang
    .main,
    body > footer {
        padding-left: 95px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header-nav {
        margin-top: 3em;
    }
    .header-nav > .nav-primary {
        font-size: 1.5em;
    }

    .kicker-bg {
        height: 166px;
    }
    .home-map {
        height: 182px; // .kicker-bg height + 15px margin + 1px border
    }
    .home-kicker .kicker-head {
        font-size: 1.5em;
        line-height: unit(36 / 24);
    }
    .home-mission p {
        font-size: 1.5em;
        line-height: unit(36 / 24);
    }
    .home-services h3 {
        font-size: 1.25em;
        line-height: unit(30 / 20);
    }

    .feature-primary-copy {
        font-size: 1.25em;
    }
    .feature-secondary {
        font-size: 1.25em;
    }

    footer {

    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */

}
