/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 767px) {
    
    // Styles for custom drop-down menu on narrow viewports

    .menu-button {
        display: block;
        width: 25%;
        height: 2em; 
        padding: 0.375em 0.5em;
        margin: 0;

        position: absolute;
        top: 10px;
        right: 10px;

        background: @primary;
        color: @lightTan;
        font-size: 1em;
        cursor: pointer;
    }
    .header-nav {
        max-height: 0;
        margin: 0.625em -10px 1em;

        position: relative;
        clear: both;
        overflow: hidden;

        background: @primaryAlt;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
        
        font-size: 1em;
        line-height: 1;
        
        -webkit-transition: all 0.2s ease-out;
           -moz-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
    }
    // .nav-primary > li {
    //     padding-right: 3em;
    // }
    .header-nav ul {
        .block('6col');
        margin-top: 0.75em;
    }
    .header-nav li {

    }
    .header-nav a {
        padding: 0.75em 1.5em;
        background: transparent;
        color: @lightTan;
    }

    .nav-secondary {
        font-size: 0.875em;
        line-height: 1.333333333;
    }

    .menu-button:hover + .header-nav,
    .menu-button:active + .header-nav,
    .header-nav.is-active {
        max-height: 20em;
    }

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

    .masthead {
        .block('5col');
        margin: 2em 0.833333% 1.5em;
    }
    .logo {
        //width: 400px;
    }
    nav {
        
    }
    .menu-button {
        .visuallyhidden;
    }
    .header-nav {
        .block('7col');
        margin-top: 2.875em;
        
        > .nav-primary {
            float: right;

            > li {
                display: inline-block;
                margin-left: -0.28em;
                font-size: 1em;
            }
            > li > a {
                background: @primaryAlt;
                color: @lightTan;
            }
            > li > a:hover,
            > li > a:focus {
                background: @primary;
                color: #FFF;
                transition: 0.25s all;
                text-decoration: none;
            }
        }
    }

    .header-nav > .nav-secondary {
        width: auto;
        border: none;
        margin: 0;
        position: absolute;
        top: 0.5em;
        right: percentage(10 / 1200);
        text-align: left;

        > li {
            display: inline-block;
            width: auto;
            margin-left: 1.5em;
        }
        > li > a {
            padding: 0;
            margin: 0;
        }
    }

    .home-services {
        .block('4col');
        padding: 1em;
        background: @lightGold;
    }
    .home-map {
        display: block;
        .block('4col');
        padding: 1em;
        background: @lightGold;
    }
    .home-mission {
        .block('4col');
        padding: 1em;
        border: none;
        background: @lightGold;
    }

    .features {
        clear: both;
    }
    .feature-primary {
        overflow: auto;

        > a {
            .block('8col');
        }
    }
    .feature-primary-copy {
        .block('4col');
        font-size: 1.125em;
    }

    .feature-secondary {
        .block('4col');
        //font-size: 1.125em;

        img {
            width: auto;
            max-width: 100%;
            margin-left: 0;
            float: none;
        }

        hgroup {
            min-height: 0;
        }
    }

    body > footer {
        clear: both;
    }

    footer {
        > .vcard {
            .block('4col');
        }
        > .nav-primary {
            .block('2col');
        }
        > .nav-primary li {

        }
        > .nav-secondary {
            .block('2col');
            border: none;
        }
        > .nav-secondary ul {

        }
        > .nav-secondary li {
            float: none;

            line-height: 1.538461538461538; // 20/13
        }
        > .nav-secondary a {
            text-align: left;
        }
        a {
            padding: 0;
            margin: 0;
        }
        > .social {
            .block('4col');
        }
    }
}

@media only screen and (min-width: 800px) {
    .header-nav > .nav-primary > li {
        font-size: 1.125em;
    }
}

@media only screen and (min-width: 960px) {
    .header-nav > .nav-primary > li {
        font-size: 1.25em;
    }
    .feature-primary-copy {
        font-size: 1.25em;
    }
    .feature-secondary {
        font-size: 1.125em;
    }
    .enews-subscribe legend {
        font-size: 0.875em;
    }
    .enews-subscribe label {
        font-size: 0.8125em;
    }
    #submit {
        font-size: 0.8125em;
    }
}


@media only screen and (min-width: 1200px) {
    .header-nav > .nav-primary > li {
        font-size: 1.5em;
    }
    .feature-primary-copy {
        font-size: 1.5em;
    }
    .feature-secondary {
        font-size: 1.25em;
    }

    footer {
        
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */

}
