/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 767px) {
    
    // Styles for custom drop-down menu on narrow viewports

    .menu-button {
        display: block;
        width: 26%;
        height: 2em; 
        padding: 0.375em 0.5em;
        margin: 0;

        position: absolute;
        top: 10px;
        right: 0;

        background: @primaryAlt;
        color: lighten(@warmTan, 40%);
        font-size: 1em;
        cursor: pointer;

        &:hover,
        &:focus {
            background: @primary;
            color: #FFF;
            transition: 0.25s all;
        }
    }
    .header-nav,
    .footer-nav {
        max-height: 0;
        margin: 0.5em -10px;

        position: relative;
        clear: both;
        overflow: hidden;

        background: @primaryAlt;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
        
        font-size: 1em;
        line-height: 1;
        
        -webkit-transition: all 0.3s ease-out;
           -moz-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .footer-nav {
        max-height: none;
    }
    // .nav-primary > li {
    //     padding-right: 3em;
    // }
    .header-nav ul,
    .footer-nav ul {
        width: 50%;
        margin: 0.75em 0;
        float: left;
    }
    .header-nav li {

    }
    .header-nav a,
    .footer-nav a {
        padding: 0.75em 1.5em;
        background: transparent;
        color: lighten(@warmTan, 40%);

        &:hover,
        &:focus {
            background: @primary;
            color: #FFF;
            transition: 0.25s all;
        }
    }

    .nav-secondary a {
        padding: unit(12 / 15, em) unit(24 / 15, em);
        color: lighten(@warmTan, 25%);
        font-size: 0.9375em;
        line-height: unit(16 / 15);
    }

    //.menu-button:hover + .header-nav,
    //.menu-button:active + .header-nav,
    .header-nav.is-active {
        max-height: 20em;
        margin: 0.5em -10px 1em;
    }

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

    // body {
    //     padding: 0;
    // }

    // Header

    .masthead {
        .block('5col');
        margin: 1.5em 0.833333% 1.5em;
    }
    .logo {
        //width: 400px;
    }
    nav {
        
    }
    .menu-button {
        .visuallyhidden;
    }
    .header-nav {
        .block('7col');
        margin-top: 3.25em;
        
        > .nav-primary {
            float: right;
            position: relative;
            right: -0.75em;

            > li {
                display: inline-block;
                margin-left: -0.28em;
                font-size: 1em;
            }
            > li > a {
                // background: @primaryAlt;
                // color: lighten(@warmTan, 40%);
            }
            > li > a:hover,
            > li > a:focus {
                // background: @primary;
                // color: #FFF;
                transition: 0.25s all;
                // text-decoration: none;
            }
        }
    }

    .header-nav > .nav-secondary {
        width: auto;
        border: none;
        margin: 0;
        position: absolute;
        top: 0.75em;
        right: percentage(10 / 1200);
        text-align: left;

        > li {
            display: inline-block;
            width: auto;
            margin-left: 1.25em;
            font-size: 0.9375em;
        }
        > li > a {
            padding: 0;
            margin: 0;
        }
    }


    // Homepage

    .home-kickers > a {
        .block('4col');
        display: block;
        height: 8em;
        padding: 1em;
        background: lighten(@warmTan, 40%);
    }
    .home-services {
       
    }
    .home-map {
        
    }
    .home-mission {
        
    }

    .features {
        clear: both;
    }
    .feature-primary {
        overflow: auto;

        > a {
            .block('8col');
        }
    }
    .feature-primary-copy {
        .block('4col');
        font-size: 1.125em;
    }

    .feature-secondary {
        .block('4col');
        //font-size: 1.125em;

        img {
            width: auto;
            max-width: 100%;
            margin-left: 0;
            float: none;
        }

        hgroup {
            min-height: 0;
        }
    }


    // Normal page

    .main.inside {
        margin-top: 1.5em;
    }
    .sidebar {
        .block('3col');
        position: relative;
        right: percentage((20 + @9col) / 1200);
    }
    .section-id {
        line-height: unit(32 / 20); // to match line-height of h1 in neighboring column
    }
    .nav-inside a {
        padding: 0.75em 1.5em;
        font-size: 1.25;
        text-align: left;
    }
    .content {
        .block('8col');
        .offset('1col');
        position: relative;
        left: percentage((20 + @3col) / 1200);
    }


    // Footer

    body > footer {
        clear: both;
    }

    footer {
        > .vcard {
            .block('4col'); 
        }
        .fn.org {
            line-height: unit(22 / 20);
        }
        .adr,
        .email {
            line-height: unit(22 / 15);
        }
        > .footer-nav {
            .block('4col');
        }
        .nav-primary {
            // width: 50%;
            // float: left;
            .block('6col');
        }
        .nav-primary > li {
            line-height: unit(22 / 16);
        }
        .nav-secondary {
            // width: 50%;
            // float: left;
            .block('6col');
            border: none;
        }
        .nav-secondary > li {
            float: none;
            line-height: unit(22 / 16);
        }
        .nav-secondary a {
            text-align: left;
        }
        a {
            padding: 0;
            margin: 0;
        }
        > .social {
            .block('4col');
        }
    }
}

@media only screen and (min-width: 800px) {
    .header-nav > .nav-primary > li {
        font-size: 1.125em;
    }
}

@media only screen and (min-width: 960px) {
    .header-nav > .nav-primary > li {
        font-size: 1.25em;
    }
    .header-nav > .nav-secondary > li {
        margin-left: 1.5em;
        font-size: 1em;
    }
    .feature-primary-copy {
        font-size: 1.25em;
    }
    .feature-secondary {
        font-size: 1.125em;
    }
    .enews-subscribe legend {
        font-size: 0.875em;
    }
    .enews-subscribe label {
        font-size: 0.8125em;
    }
    #submit {
        font-size: 0.8125em;
    }
    .social li {
        margin-right: 2em;
    }
}


@media only screen and (min-width: 1200px) {
    .header-nav > .nav-primary > li {
        font-size: 1.5em;
    }
    .feature-primary-copy {
        font-size: 1.5em;
    }
    .feature-secondary {
        font-size: 1.25em;
    }

    footer {
        
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */

}
